<mat-horizontal-stepper>
    <mat-step >
        <ng-template  matStepLabel>Orden</ng-template>
        <div *ngIf="(products$ | async) as products">
            <div class="noProducts" *ngIf="products.length === 0">
              <p>No hay productos en tu carrito</p>
              <p>Agrega Productos a tu carrito</p>

            </div>
            <div class="row rowOrder" *ngFor="let product of products | groupOrder: 'id'">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="box rowOrder__image">
                        <img class="image" [src]="product.image" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="box rowOrder__title">
                        {{product.title}}

                        <p>{{product.id}}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <div class="box rowOrder__price">
                        {{product.price | currency}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="box rowOrder__quantity">
                      <p>
                     <b>{{ product.quantity }}</b> of
                     <span>
                      {{product.totalPrice | currency}}
                     </span>
                      </p>

                    </div>
                </div>
            </div>
            <div class="row totalPriceOrder">
              Total Por: $$$
            </div>
          <div>
              <button [disabled]="products.length === 0" class="buttonNext" mat-button matStepperNext>Next</button>
          </div>
        </div>

    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Datos Personales</ng-template>
        <h3>contenido</h3>

        <div>
          <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Pago</ng-template>
        <h3>contenido</h3>

        <div>
          <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>

