<div class="box">
    <div class="form">
      <h3>Sign Up</h3>
    <form class="example-form" [formGroup]="formSignUp"  (ngSubmit)="signUp($event)">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
          <!-- <mat-error *ngIf="emailField.hasError('email') && !emailField.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailField.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <!-- <mat-error *ngIf="passwordField.hasError('required')">
              Password is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput formControlName="password">
            <!-- <mat-error *ngIf="passwordField.hasError('required')">
              Password is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <button mat-raised-button [disabled]="formSignUp.invalid" type="submit" color="primary">Sign Up</button>
    </form>

    </div>


    <div class="register">
      <a routerLink="/signin">Sign In</a>
    </div>

  </div>
