
<div class="box">
  <div class="form">
    <h3>Sign In</h3>
    <form class="example-form" [formGroup]="formSignIn"  (ngSubmit)="signIn($event)">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
            style="text-transform:lowercase;"
            >
          <!-- <mat-error *ngIf="emailField.hasError('email') && !emailField.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailField.hasError('required')">
            Email is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <!-- <mat-error *ngIf="password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error> -->
        </mat-form-field>
        <mat-error *ngIf="mensajeError">
          !Sorry¡ but <strong>{{ mensajeError }}</strong>
        </mat-error>
        <button mat-raised-button [disabled]="formSignIn.invalid" type="submit" color="primary">Sign In</button>
    </form>

  </div>


  <div class="register">
    <a routerLink="/signup">Sign Up</a>
  </div>

</div>

