<section class="info">
  <h3 class="info__title">Los mejores coches de los ultimos tiempos</h3>
  <div class="info__section">
    <p class="info__section__text">
      A partir de los años 90, los fabricantes de los coches japoneses lucharon
      intensamente con el propósito de producir los mejores automóviles de gasolina
      del mercado de esa generación. Esto produjo que las especificaciones de los JDM
      en japón causaran furor en otros países e hicieran apetecible su importación.
    </p>
    <img class="info__section__img" src="https://image.spreadshirtmedia.net/image-server/v1/designs/195865588,width=178,height=178.png" alt="">
  </div>

   <div class="info__section">
    <img class="info__section__img" src="https://static.wikia.nocookie.net/gtawiki/images/5/54/AutoShops-GTAO-Emblem3-Euro.png" alt="">
    <p class="info__section__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis corporis porro sit
       quisquam quas, sunt ipsam possimus dicta laborum soluta optio! Natus excepturi,
       qui tenetur odio eius nam vel rerum.</p>
  </div>

  <div class="info__section">
    <p class="info__section__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima commodi sed quidem beatae quod dolorem! Ea repudiandae iusto nemo id quo aliquam, voluptatum qui ex, unde, atque corrupti quia odio!</p>
    <img class="info__section__img" src="https://static.wikia.nocookie.net/gtawiki/images/4/47/AutoShops-GTAO-Emblem4-Modern.png" alt="">
  </div>
</section>

<main>
  <section class="typecars" routerLink="/products">
    <section class="typecars__target">
      <h3 class="typecars__target__title">JDMs</h3>
      <img class="typecars__target__image" src="https://wallpapercave.com/wp/wp6793804.jpg" alt="">

    </section>

    <section class="typecars__target" routerLink="/products">
      <h3 class="typecars__target__title">European</h3>
        <img class="typecars__target__image" src="https://i.ibb.co/djZ75yS/21960.jpg" alt="" srcset="">
    </section>

    <section class="typecars__target" routerLink="/products">
      <h3 class="typecars__target__title">Americans</h3>
      <img class="typecars__target__image" src="https://besthqwallpapers.com/Uploads/25-10-2018/69861/thumb2-4k-chevrolet-camaro-dodge-challenger-chevrolet-corvette-z06-2018-cars.jpg" alt="">

    </section>
  </section>
</main>



