.info{
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 50px 20px;
  &__title{
    align-self: center;
    font-size: 22px;
    font-weight: 500;
  }
  &__section{
    display: flex;
    align-items: center;
    &__text{
      font-size: 18px;
      font-weight: 200;
      font-stretch: condensed;
      text-align: justify;
      width: 400px;
    }
  }

}
main{
  margin: 30px auto;
  .typecars{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 50px 20px;


    &__target{
      padding: 10px;
      border-radius: 5px;
      transition: 2s;
      transition-property: border;
      transition-duration: 1s;
      transition-delay: 0.3s;

      &__title{
        font-size: 25px;
        font-weight: 500;
      }
      &__image{
        object-fit: cover;
      }
      &__image:hover{

        -webkit-animation: text-blur-out 0.5s linear  alternate both;
        animation: text-blur-out 0.5s linear alternate both;

      }
    }
    &__target:hover{
      cursor: pointer;
      background-color: rgb(236, 235, 235);
    }
  }

}


///KEYFRAMES

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.05);
            filter: blur(0.05);

  }
  100% {
    -webkit-filter: blur(5px) opacity(90%);
            filter: blur(5px) opacity(90%);

  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.05);
            filter: blur(0.05);
  }
  100% {
    -webkit-filter: blur(5px) opacity(90%);
            filter: blur(5px) opacity(90%);

  }
}

