<div class="Detailproduct" *ngFor="let data of product">
    <div class="Detailproduct__image">
        <img [src]="data.image" alt="">
    </div>
    <div class="Detailproduct__infoProduct">
        <ul>
            <li>{{data.title}}</li>
            <li>{{data.price | currency}}</li>
        </ul>
        <p class="Detailproduct__type"> <strong>Tipo:</strong> {{data.typeCar | uppercase}}</p>
        <p class="Detailproduct__description">{{data.description}}</p>
    </div>

</div>
<button class="scale-up-center" (click)="addCart()" mat-raised-button color="primary">Agregar al carrito</button>
