.Detailproduct{
  display: flex;
  justify-content: center;
  align-items: center;
  &__image{
    width: 60vw;
    margin: 20px;
  }
  &__infoProduct{
    >ul{
      padding: 0;
      list-style: none;
      font-size: 18px;

      >li{
        margin: 10px 0;
      }
      >li:first-child{
        font-weight: 800;
        font-size: 24px;
      }
      >li:last-child{
        color: chartreuse;
      }
    }
  }
}
@media (max-width: 600px) {
  .Detailproduct{
    flex-direction: column;
  }
}
